.title {
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 3px solid #000;
    font-size: 2em;
    padding-left: 30px;
}
h3 {
    font-weight: 600;
}

.cocktail-card {
    height:100%;
}

.cocktail-img {
    height:100%;
}

