<div class="container-fluid mt-4" *ngIf="cocktail">
    <!-- Bread Crumbs -->
    <nav aria-label="breadcrumb mt-2">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/list']">Cocktails</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ cocktail.name }}</li>
        </ol>
      </nav>
    <div class="jumbotron mt-3 px-5">
        <h2 class="title">{{ cocktail.name }}</h2>
    </div>
    </div>
    <div class="container">
    <div class="row mt-3 mb-3 py-2 px-2">
        <div class="col-lg-6 col-12 cocktail-img text-center">
            <img [src]="cocktail.imageUrl" class="img-fluid rounded" alt="{{ cocktail.name }}">
        </div>
        <div class="col-lg-6 col-12">
            <div class="card bg-dark cocktail-card">
                <div class="card-body text-light">
                    <h3>Ingredients</h3>
                    <p class="card-text"><i><small>{{ cocktail.ingredients.join(', ') }}</small></i></p>
                    <h3>Categories </h3>
                    <p class="card-text"><i><small>{{ cocktail.category }}, {{ cocktail.alcoholic }}</small></i></p>
                    <h3>Instructions</h3>
                    <p class="card-text"><i><small>{{ cocktail.instructions }}</small></i></p>
                </div>
            </div>
        </div>
    </div>

</div>