.display {
    font-size: 2em;
    font-weight: 700;
}

.ingredient-item {
    font-size: 1.3em;
    font-weight: 600;
}
.info {
    text-decoration: none;
    
}
.info-card {
    background-color: #e9e8f34e;
    border: 1px solid  #e9e8f34e;
    .info {
        text-decoration: none;
        color: #2793c5ca;
    }
    .info:hover {
        color: #fff;
    }
}
.info-card:hover {
    background-color: #2793c5ca;
    color: #fff;
}