<div class="flex-container mt-4">
  <!-- Bread Crumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cocktails</li>
    </ol>
  </nav>
<div class="row  mt-4 mb-4">
  <h2 class="title">Browse All Cocktails</h2>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Alcoholic</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Glass</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cocktail of cocktails$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ cocktail.name }}</td>
        <td>{{ cocktail.category }}</td>
        <td>{{ cocktail.alcoholic }}</td>
        <td>{{ cocktail.ingredients.join(', ') }}</td>
        <td>{{ cocktail.glass }}</td>
        <td scope="col"><a [routerLink]="['/cocktail-details', cocktail.id]">See More</a></td>
      </tr>
    </tbody>
  </table>
</div>
