<div class="main-container">
  <header class="navbar bg-orchid">
    <div class="branding bg-orchid">
      <a class="nav-link" [routerLink]="['']">
        <span class="title">CocktailsApp</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-text bg-orchid" [routerLink]="['home']">Home</a>
      <a class="nav-link nav-text bg-orchid" [routerLink]="['list']">Cocktails</a>
      <a class="nav-link nav-text bg-orchid" [routerLink]="['cocktail-details']">Recipe Details</a>
      <a class="nav-link nav-text bg-orchid" [routerLink]="['cocktail-details', '9']">Cocktail #9</a>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
