<div  class="d-flex flex-column min-vh-100">
  <div class="row">
    <!-- Side Nav -->
    <div class="col-3 mx-5 bg-dark text-thick text-light text-uppercase" style="width: 4.5rem;">
      <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
        <!-- Cocktails App Icon -->
        <img class="img" src="./assets/images/favicon.png" width="16px" height="16px"/>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Admin Home Page" [routerLink]="['/admin/home']"> 
            <mat-icon aria-hidden="false" aria-label="Admin Home">assignment</mat-icon>
            <!-- Admin Icon -->
          </a>
        </li>
        <li>
          <a class="nav-link py-3 border-bottom" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard" [routerLink]="['/admin/dashboard']">
            <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon> <!-- Dashboard Icon -->
            

          </a>
        </li>
        <li>
          <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Users" [routerLink]="['/admin/users']">
            <mat-icon aria-hidden="false" aria-label="Manage Users">people</mat-icon>
            <!-- Users Icon -->
          </a>
        </li>
        <li>
          <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Settings" [routerLink]="['/admin/settings']">
            <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
            
          </a>
        </li>
        <li>
          <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="More Info"[routerLink]="['/admin/info']">
            <mat-icon aria-hidden="false" aria-label="More Information">info</mat-icon>
            <!-- Users Icon -->
          </a>
        </li>
      </ul>
      <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon aria-hidden="false" aria-label="Admin Panel Settings">admin_panel_settings</mat-icon>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
        </ul>
      </div>
    </div>
    <!-- End Side Nav-->
    
    <!-- Main Content Section -->
    <div  class="col-6 px-5 mx-5 mt-4">
        <router-outlet></router-outlet>
    </div>
  </div> <!-- End Row -->
  
    </div>