@import '../node_modules/@cds/core/global.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

// Theme Colors 
$soft-black: #222;
$persian-pink: #f87c96;
$alabaster-yellow: #f3f1e6;
$petite-orchid: #e29896;
$viking-blue: #4ab2c1;
$light-purple: #bfa1d0;
$dark-purple: #8f7ca1;

$dark-cornflower-purple: #5600b8;
$cornflower-purple: #710fe2;
$medium-cornflower-purple: #9444f0;
$light-cornflower-purple: #b57df5;
$bs-breadcrumb-item-active-color: #aeb5dc;

$light-seagreen: #ec7d6932;
$orangey: hsla(21, 76%, 75%, 0.451);


// Layout and Structure 
html, body {
    font-weight: 400;
    font-size: 1.3em;
    color: $soft-black;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.flex-display-container {
    margin: 20px;
    padding: 1em;
    display:flex;
    width: 100%;
}
.block-container {
    margin: 20px;
    padding: 1em;
    display:block;
}
.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: .1rem;
    border-radius: .3rem;
  }

// NavBar
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(229, 224, 233, 0.73);
    --bs-navbar-hover-color: rgb(246, 240, 251);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgb(246, 240, 251);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(228, 227, 227, 0.802);
    --bs-navbar-brand-hover-color: rgb(255, 255, 255);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

// Bread Crumbs 
.breadcrumb-item {
    font-weight: 700;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: $medium-cornflower-purple;
    }
    a:hover {
        color: $dark-cornflower-purple;
    }
}
.breadcrumb-item.active {
    color: $bs-breadcrumb-item-active-color;
}

// Text Elements

// Transform 
.text-uppercase {
    text-transform: uppercase;
}

// Weight
.text-thickest {
    font-weight: 800;
}
.text-thick {
    font-weight: 600;
}

// Position
.text-center {
	text-align: center;
}

// Font Families
.font-sacromento {
    font-family: 'Sacramento', cursive;
}
.font-monstserrat {
    font-family: 'Montserrat', sans-serif;
}

// Text Colors 
.text-light {
	color: #fff;
}
.text-dark {
	color: $soft-black;
}
.text-danger {
    color: $persian-pink;
}
.text-warning {
    color: $petite-orchid;
}
.text-info {
    color: $viking-blue
}
.text-success {
    color: $dark-purple;
}

.text-yellow {
    color: #f3f1e6;
}


// Background colors
.bg-orchid {
    background-color: $petite-orchid;
}
.bg-dark {
    background-color: $soft-black;
    color: #fff;
}
.bg-lightviolet {
    background-color: #ca2ee9f3;
}
.bg-violet {
    background-color: #8545a1;
}
.bg-fadedviolet {
    background-color: #8545a185;
}
.bg-purpleyblue {
    background-color:#4114b3;
}
.bg-fadednavy {
    background-color:#4242a560;
}

.bg-purple {
    background-color:#734aa4;
}

.footer {
    .row {
        max-width: 900px;

    }
    a {
        font-weight: 500;
    }
    h4 {
        font-weight: 500;
    }
    p {
        font-weight: 500;
        color: #101024e9;
    }
    .footer-link {
        font-weight: 600;
        text-decoration: none;
        color: #1c1c54d5;
    }
    .footer-link:hover {
        color: #3c3ce7e8;
    }
}


