<div class="container-fluid mt-4">
  <div class="jumbotron bg-dark text-center">
    <h1>Welcome to the Cocktails App</h1>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-6 col-home">
      <h2>Browse the Cocktails</h2>
      <img src="http://localhost:4200/assets/images/home/cocktails_icon.svg"/>
    </div> 
    <div class="col-6 col-home">
      <h2>See the Ingredients</h2>
      <img src="http://localhost:4200/assets/images/home/ingredients_icon.svg"/>
    </div>
  </div>
</div>