<div class="container-fluid mt-4" *ngIf="ingredient">
    <!-- Bread Crumbs -->
    <nav aria-label="breadcrumb mt-2">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/ingredients-list']">Ingredients</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ ingredient.strIngredient }}</li>
        </ol>
      </nav>
    <div class="jumbotron mt-3 border-primary">
        <h2 class="title">{{ ingredient.strIngredient }}</h2>
    </div>
    <div class="row mb-3 py-2 px-2">
        
        <div class="col-12 mt-3">
            <div class="card ingredient-card bg-dark">
                <div class="card-body text-light">
                    <h3>Description</h3>
                    <p class="card-text"><i><small>{{ ingredient.strDescription }}</small></i></p>
                </div>
            </div>
        </div>
    </div>

</div>